<div class="row top-menu">
	<div class="col-md-6">
		<a href="{{url_for('main.showRestaurants')}}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Restaurants
		</a>
	</div>
	<div class="col-md-6 text-right">
		{% if current_user %}
		<p>Welcome, {{ current_user.username }}!</p>
		<a href="{{ url_for('main.logout') }}">Logout</a>
	{% else %}
		<a href="{{ url_for('main.login') }}">Login</a>
		<a href="{{ url_for('main.register') }}">Register</a>
	{% endif %}
		
	</div>
</div>
